.input-field {
    height: 60px;
    width: 400px;
    display: block;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Short Stack', cursive;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #382b22;
    border: 2px solid #b18597;
    background: #fff0f0;
    transition: border 0.3s ease;
  }

  .input-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
}
  
