@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');


.clock {
  display: flex;
}

.clock div {
  position: relative;
  margin: 0 5px;
  width: 80%;
  height: 80%;
}

.clock div p {
  position: relative;
  display: flex;
  width: 90%;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: #ffe9e9;
  z-index: 1;
  font-size: 4rem;
  border: none;
  /* box-shadow: 0px 34px 45px 0px rgba(0, 0, 0, 0.56); */
  font-family: 'Short Stack', cursive;
  font-weight: bolder;
  border: 2px solid #b18597 ;
}

.clock div p:first-child {
  border-radius: 20px 20px 0 0;
  margin-bottom: 0;
}

.clock div p:last-child {
  font-size: 1.5rem;
  height: 50px;
  background-color: #f9c4d2;
  border-radius: 0 0 20px 20px;
  border-top: 2px solid #b18597 ;

}

.clock div:last-child p {
  background-color: #ffe9e9;
  color: rgb(0, 0, 0);
}

.clock div:last-child p:last-child {
  background-color: #f9c4d2;
  color: rgb(0, 0, 0);
}
