
.background{
  width: 100vw;
  height: 100vh;
  /* background-image: linear-gradient(to top right, rgba(0, 195, 255, 0.719), rgba(195, 0, 255, 0.637)); */
  background-image:url("./img/BG001.svg") ;
  background-repeat: no-repeat; 
    background-size:cover;  
}

.h-10
{
  height: 10%;
}


.h-80 
{
  height: 80%;
}

.bottom-bar
{
  background-color: white;
  border-radius: 1.5rem 1.5rem 0 0;
  /* height: 100%; */
}

.lo
{
  margin: 0;
  padding: 0;
}

