
  .radioPad {
    position: relative;
    display: inline;
    height: 10px;
  }

  .radioPad__wrapper {
    cursor: pointer;
    background: #353434;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    text-align: center;
  }
  .radioPad__wrapper:active,
  .radioPad__wrapper--selected {
    background: #14b155 !important;
  }
  .radioPad__wrapper:hover {
    background: #15af50;
  }
  .radioPad__radio {
    height: 20px;
    visibility: hidden;
    height: 0;
    width: 0;
    opacity: 0;
  }
  